.j-center {
    justify-content: center;
}

.tictactoe-container {
    max-width: 70vh;
}

.tictactoe-cell-container {
    aspect-ratio: 1 / 1;
    padding: 5px;
}

.tictactoe-cell {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 20%;
}

.tictactoe-cell > img {
    width: 100%;
    aspect-ratio: 1;
}

.text-bold {
    font-weight: bold;
}